
.seatGrid{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  flex: 1;
  width: 100%;
}

.priceList{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  color: #333;
}

.priceLegend{
  display: flex;
  gap: 20px;
  color: #333;
  align-items: center;
}


.rounded{
  width: 25px;
  aspect-ratio: 1;
  border-radius: 6px;
}

.silver{
  background-color: #BFDBFE;
}

.gold{
  background-color: #FEF08A;
}

.platinum{
  background-color: #E9D5FF;
}

.errorBox {
  background: #ffebee;
  color: #d32f2f;
  border: 1px solid #d32f2f;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(211, 47, 47, 0.2);
}

.errorIcon {
  font-size: 20px;
}

.screenLine{
    width: 100%;
    height: 5px;
    background: #CCC;
}

.screen{
    color:#333;
    font-weight: 500;
}

.seatWrapper{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
 overflow: auto;
 flex: 1;
 justify-content: flex-end;
 padding:10px;
}

.row{
  display: flex;  
  gap: 20px;
  align-items: center;
}

.rowLabel{
  color: #333;
  font-weight: 400;
}

.seat{
  border-radius: 15px 15px 0 0;
  font-size: 16px;
  font-weight: 400;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.selected{
  background-color: #22C55E;
}

@media (max-width: 1024px) {
  .seatGrid {
    padding: 20px;
  }

  .seatWrapper {
    align-items: center;
    justify-content: center;
  }

  .seat {
    width: 40px;
  }

  .priceList {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .seatGrid {
    gap: 15px;
  }

  .row {
    gap: 10px;
  }

  .seat {
    width: 30px;
    font-size: 14px;
  }

  .priceList{
    flex-direction: column;
  }

  .seatWrapper{
    align-items: center;
  }

}

@media (max-width: 600px) {
  .seat {
    width: 25px;
    font-size: 12px;
  }

  .seatWrapper {
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .seatGrid {
    padding: 15px;
  }

  .row {
    gap: 10px;
  }

  .seat {
    width: 20px;
    font-size: 10px;
  }

  .priceList {
    text-align: center;
  }
}